.mainHome {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.profileImg {
  width: 350px;
}
.profileImg img {
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.info {
  max-width: 580px;
}
.other {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.6rem;
  /* width: 100%; */
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5rem;
}
.other .skills .techskills {
  width: 280px;
  cursor: pointer;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 0.8rem;
}
.other .skills .softskills {
  width: 280px;
  cursor: pointer;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 0.8rem;
}
.other .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* width: 2rem; */
  flex-wrap: wrap;
  gap: 2rem;
}
.other .skills .techskills:hover {
  background-color: black;
  color: white;
}
.other .skills .softskills:hover {
  background-color: black;
  color: white;
}
.hobbies {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 0.8rem;
}
.other .hobbies:hover {
  background-color: black;
  color: white;
}
.skills1 {
  border: 2px solid black;
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.hobbies1 {
  border: 2px solid black;
  padding: 1.2rem;
  border-radius: 0.8rem;
}
@media screen and (max-width: 784px) {
  .softskills {
    margin-bottom: 0.9rem;
  }
  .skills1 {
    padding: 1.8rem;
    width: 380px;
  }
}
@media screen and (max-width: 584px) {
  .skills1 {
    padding: 2px;
  }
}
@media screen and (max-width: 1074px) {
  .mainHome {
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
  }
  .other {
    margin-top: 1.9rem;
  }
}
